<div class="switcher_container" id=<%= switcher_id %> >
<span tooltip="<%=tooltip_message%>" flow="right">
<% for i in 0..items.size-1 %>
  <div class="option">
  <input type="radio" name="card" id="<%= items_ids[i] %>" value="<%= items[i] %>" <%=i == 0 ? 'checked=checked' : ' ' %>>
  <label class="switcher_label" for="<%= items_ids[i] %>" aria-label="<%= items[i] %>">
    <span></span>
    
    <%= items[i] %>
    
  </label>
</div>

<% end %>

  
  
</span>
</div>