<p id="notice"><%= notice %></p>

<h1>Apk Payloads</h1>

<table>
  <thead>
    <tr>
      <th>Destination ip</th>
      <th>Destination port</th>
      <th>Forwarding ip</th>
      <th>Forwarding port</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apk_payloads.each do |apk_payload| %>
      <tr>
        <td><%= apk_payload.destination_ip %></td>
        <td><%= apk_payload.destination_port %></td>
        <td><%= apk_payload.forwarding_ip %></td>
        <td><%= apk_payload.forwarding_port %></td>
        <td><%= link_to 'Show', apk_payload %></td>
        <td><%= link_to 'Edit', edit_apk_payload_path(apk_payload) %></td>
        <td><%= link_to 'Destroy', apk_payload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apk Payload', new_apk_payload_path %>
