<p id="notice"><%= notice %></p>

<p>
  <strong>Destination ip:</strong>
  <%= @apk_payload.destination_ip %>
</p>

<p>
  <strong>Destination port:</strong>
  <%= @apk_payload.destination_port %>
</p>

<p>
  <strong>Forwarding ip:</strong>
  <%= @apk_payload.forwarding_ip %>
</p>

<p>
  <strong>Forwarding port:</strong>
  <%= @apk_payload.forwarding_port %>
</p>

<%= link_to 'Edit', edit_apk_payload_path(@apk_payload) %> |
<%= link_to 'Back', apk_payloads_path %>
