<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @recording.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @recording.duration %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @recording.filename %>
</p>

<p>
  <strong>Smartphone:</strong>
  <%= @recording.smartphone_id %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
