<%= form_with(model: smartphone, local: true) do |form| %>
  <% if smartphone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smartphone.errors.count, "error") %> prohibited this smartphone from being saved:</h2>

      <ul>
        <% smartphone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :operating_system %>
    <%= form.text_field :operating_system %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pictures %>
    <%= form.text_field :pictures %>
  </div>

  <div class="field">
    <%= form.label :screenshots %>
    <%= form.text_field :screenshots %>
  </div>

  <div class="field">
    <%= form.label :videos %>
    <%= form.text_field :videos %>
  </div>

  <div class="field">
    <%= form.label :recordings %>
    <%= form.text_field :recordings %>
  </div>

  <div class="field">
    <%= form.label :is_rooted %>
    <%= form.text_field :is_rooted %>
  </div>

  <div class="field">
    <%= form.label :call_logs %>
    <%= form.text_field :call_logs %>
  </div>

  <div class="field">
    <%= form.label :contacts %>
    <%= form.text_field :contacts %>
  </div>

  <div class="field">
    <%= form.label :sms_messages %>
    <%= form.text_field :sms_messages %>
  </div>

  <div class="field">
    <%= form.label :geo_locations %>
    <%= form.text_field :geo_locations %>
  </div>

  <div class="field">
    <%= form.label :is_app_hidden %>
    <%= form.text_field :is_app_hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
