<%= form_with(model: smartphone, local: true) do |form| %>
  <% if smartphone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smartphone.errors.count, "error") %> prohibited this smartphone from being saved:</h2>

      <ul>
        <% smartphone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :operating_system %>
    <%= form.text_field :operating_system %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_rooted %>
    <%= form.text_field :is_rooted %>
  </div>

  <div class="field">
    <%= form.label :is_app_hidden %>
    <%= form.text_field :is_app_hidden %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="field">
    <%= form.label :apk_installation_id %>
    <%= form.text_field :apk_installation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
