<p id="notice"><%= notice %></p>

<h1>Smartphones</h1>

<table>
  <thead>
    <tr>
      <th>Operating system</th>
      <th>Name</th>
      <th>Is rooted</th>
      <th>Is app hidden</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Apk installation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smartphones.each do |smartphone| %>
      <tr>
        <td><%= smartphone.operating_system %></td>
        <td><%= smartphone.name %></td>
        <td><%= smartphone.is_rooted %></td>
        <td><%= smartphone.is_app_hidden %></td>
        <td><%= smartphone.created_at %></td>
        <td><%= smartphone.updated_at %></td>
        <td><%= smartphone.apk_installation_id %></td>
        <td><%= link_to 'Show', smartphone %></td>
        <td><%= link_to 'Edit', edit_smartphone_path(smartphone) %></td>
        <td><%= link_to 'Destroy', smartphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smartphone', new_smartphone_path %>
