<p id="notice"><%= notice %></p>

<p>
  <strong>Operating system:</strong>
  <%= @smartphone.operating_system %>
</p>

<p>
  <strong>Name:</strong>
  <%= @smartphone.name %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @smartphone.pictures %>
</p>

<p>
  <strong>Screenshots:</strong>
  <%= @smartphone.screenshots %>
</p>

<p>
  <strong>Videos:</strong>
  <%= @smartphone.videos %>
</p>

<p>
  <strong>Recordings:</strong>
  <%= @smartphone.recordings %>
</p>

<p>
  <strong>Is rooted:</strong>
  <%= @smartphone.is_rooted %>
</p>

<p>
  <strong>Call logs:</strong>
  <%= @smartphone.call_logs %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @smartphone.contacts %>
</p>

<p>
  <strong>Sms messages:</strong>
  <%= @smartphone.sms_messages %>
</p>

<p>
  <strong>Geo locations:</strong>
  <%= @smartphone.geo_locations %>
</p>

<p>
  <strong>Is app hidden:</strong>
  <%= @smartphone.is_app_hidden %>
</p>

<%= link_to 'Edit', edit_smartphone_path(@smartphone) %> |
<%= link_to 'Back', smartphones_path %>
