<%= stylesheet_link_tag 'smartphones2', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'smartphones', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'smartphones', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'arrow_buttons', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'status', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'tooltip', media: 'all', 'data-turbolinks-track': 'reload' %>

<span class="arrow_container_left">
    <a class="arrow_button" href="#">
        <span class="left"></span>
    </a>
</span>

<div class="smartphonee">
    <div class="volume-btnn"></div>
    <div class="app-wrapperr">
        <div class="topp-0">
            <div class="cameraa"></div><div class="speakerr"></div><div class="cameraa hidee"></div>
        </div>
        <div class="topp"></div>
        <div class="screenn">
            <div class="top-icons">
                <div class="app_row">
                    <%= render "whatsapp_app_icon", :smartphone => smartphone %>
                    <%= render "audio_mode_app_icon", :smartphone => smartphone %>
                    <%= render "dump_wifi_app_icon", :smartphone => smartphone %>
                    <%= render "call_logs_app_icon", :smartphone => smartphone %>
                </div>
                <div class="app_names">
                    <span class="app_name">WhatsApp Data</span>
                    <span class="app_name">Audio Mode</span>
                    <span class="app_name">Wi-Fi Information</span>
                    <span class="app_name">Dump Call Log</span>
                </div>
                <div class="app_row">
                    <%= render "dump_sysinfo_app_icon", :smartphone => smartphone %>
                    <%= render "dump_location_app_icon", :smartphone => smartphone %>
                    <%= render "video_rec_app_icon", :smartphone => smartphone %>
                    <%= render "dump_messages_app_icon", :smartphone => smartphone %>
                </div>
                <div class="app_names">
                    <span class="app_name">System Info</span>
                    <span class="app_name">Dump Location</span>
                    <span class="app_name">Camera REC</span>
                    <span class="app_name">Dump Messages</span>
                </div>
                <div class="app_row">
                    <%= render "dump_localtime_app_icon", :smartphone => smartphone %>
                    <%= render "microphone_rec_app_icon", :smartphone => smartphone %>
                    <%= render "uninstall_app_app_icon", :smartphone => smartphone %>
                    <%= render "list_apps_app_icon", :smartphone => smartphone %>
                </div>
                <div class="app_names">
                    <span class="app_name">Dump Localtime</span>
                    <span class="app_name">Microphone REC</span>
                    <span class="app_name">Uninstall App</span>
                    <span class="app_name">Installed Apps</span>
                </div>
                <div class="app_row">
                    <%= render "screen_snap_app_icon", :smartphone => smartphone %>
                    <%= render "send_message_app_icon", :smartphone => smartphone %>
                    <%= render "upload_file_app_icon", :smartphone => smartphone %>
                    <%= render "dump_contacts_app_icon", :smartphone => smartphone %>
                </div>
                <div class="app_names">
                    <span class="app_name">Screen Snap</span>
                    <span class="app_name">Send Message</span>
                    <span class="app_name">Upload File</span>
                    <span class="app_name">Dump Contacts</span>
                </div>
                <div class="app_row">
                    <%= render "lock_screen_app_icon", :smartphone => smartphone %>
                    <%= render "screen_record_app_icon", :smartphone => smartphone %>
                    <%= render "shell_command_app_icon", :smartphone => smartphone %>
                    <%= render "webcam_snap_app_icon", :smartphone => smartphone %>                
                </div>
                <div class="app_names">
                    <span class="app_name">Lock Screen</span>
                    <span class="app_name">WLAN Geolocate</span>
                    <span class="app_name">Shell Command</span>
                    <span class="app_name">Webcam Snap</span>
                </div>
            </div>
            <div class="timee">
                <div id="ctt"></div>
                <div id="cdd"></div>
            </div>
        </div>
        <div class="bottomm">
            <div class="touch-buttonn"></div>
        </div>
    </div>
</div>
<span class="arrow_container_right">
    <span class="demos">
        <span class="demo-up">
            <span class="msf_status server-status" type="up"></span>
            <span class="service_status service_status_msf">MSF</span>
        </span>
        <span class="demo-down">
            <span class="adb_status server-status" type="down"></span>
            <span class="service_status service_status_adb">ADB</span>
        </span>
    </span>
    <span class="device_info">
        192.168.100.33
        Android  6.0
        IsRooted: No
    </span>
    <a class="arrow_button" href="#">
        <span class="right"></span>
    </a>
</span>

  

<script>
    $(function() {
        $(document).ready(function() {
            setInterval(function() {
                jQuery.ajax({
                    url: "../smartphones/check_connection",
                    type: "GET",
                    dataType: "script"
                });
            }, 2000); // In every 30 seconds
        });
    });
</script>