    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



<%# <div id="carouselContainer">
  <div class="jumbotron jumbotron-fluid" id="particles-js">
  </div> %>



<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
          <%= image_tag "step1.jpg", class: "d-block w-30" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Step 1</h5>
        <a href="#"><p style="color:black;">Generate the APK file to be installed on the target smartphone.</p></a>
      </div>
    </div>
    <div class="carousel-item">
          <%= image_tag "step2.jpg", class: "d-block w-30" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Step 2</h5>
        <p style="color:black;">Install the APK on the target smartphone.</p>
      </div>
    </div>
    <div class="carousel-item">
          <%= image_tag "step3.jpg", class: "d-block w-30" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Step 3</h5>
        <p style="color:black;">Use the dashbboard buttons to control the smartphone.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>