<%= stylesheet_link_tag 'radar_chart', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="thewholething">
  <div class="labelcontainer">
  <ul>
  <% i=1 %>
  <% contacts.each do |contact| %>
    <li class="label<%= i.to_s %>"><span><%= contact["contact"] %></span></li>
  <% i+=1 %>
  <% end %>
    </ul>
  </div>
  <div id="calls_title" class="radar_titles">Call Records</div>
  <div class="graph-bg">
    <div class="graphcontainer">
      <div class="statform out">
      </div>
      <div class="statform in">
      </div>
    </div>
  </div>
<div class="radar_titles bottom_titles">
<span id="messages_title">Messages</span>
<span id="social_media">WhatsApp</span>
</div>
<style>
@keyframes in-anim {
    0%, 100%, 8% {
        background-color: #561034;
        clip-path: <%= contacts[0]["polygons"][0] %>
    }
    25% {
        background-color: #25486b;
        clip-path: <%= contacts[1]["polygons"][0] %>
    }
    50% {
        background-color: #565034;
        clip-path: <%= contacts[2]["polygons"][0] %>
    }
}
@keyframes out-anim {
    0%, 100%, 8% {
        background-color: #2196f3;
        clip-path: <%= contacts[0]["polygons"][1] %>
    }
    25% {
        background-color: #009688;
        clip-path: <%= contacts[1]["polygons"][1] %>
    }
    50% {
        background-color: #9c27b0;
        clip-path: <%= contacts[2]["polygons"][1] %>
    }
}

</style>