<%= form_with(model: apk_installation, local: true) do |form| %>
  <% if apk_installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apk_installation.errors.count, "error") %> prohibited this apk_installation from being saved:</h2>

      <ul>
        <% apk_installation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :taget_ip %>
    <%= form.text_field :taget_ip %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :apk_payload_id %>
    <%= form.text_field :apk_payload_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
