<p id="notice"><%= notice %></p>

<p>
  <strong>Taget ip:</strong>
  <%= @apk_installation.taget_ip %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apk_installation.status %>
</p>

<p>
  <strong>Apk payload:</strong>
  <%= @apk_installation.apk_payload_id %>
</p>

<%= link_to 'Edit', edit_apk_installation_path(@apk_installation) %> |
<%= link_to 'Back', apk_installations_path %>
