<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @call_log.date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @call_log.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @call_log.destination %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @call_log.duration %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @call_log.filename %>
</p>

<p>
  <strong>Smartphone:</strong>
  <%= @call_log.smartphone_id %>
</p>

<%= link_to 'Edit', edit_call_log_path(@call_log) %> |
<%= link_to 'Back', call_logs_path %>
