<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.duration %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @video.filename %>
</p>

<p>
  <strong>Smartphone:</strong>
  <%= @video.smartphone_id %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
