<%= form_with(model: geo_location, local: true) do |form| %>
  <% if geo_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geo_location.errors.count, "error") %> prohibited this geo_location from being saved:</h2>

      <ul>
        <% geo_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <div class="field">
    <%= form.label :smartphone_id %>
    <%= form.text_field :smartphone_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
