<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @geo_location.date %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @geo_location.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @geo_location.long %>
</p>

<p>
  <strong>Smartphone:</strong>
  <%= @geo_location.smartphone_id %>
</p>

<%= link_to 'Edit', edit_geo_location_path(@geo_location) %> |
<%= link_to 'Back', geo_locations_path %>
