<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @picture.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @picture.duration %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @picture.filename %>
</p>

<p>
  <strong>Smartphone:</strong>
  <%= @picture.smartphone_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
